.product-card {
    margin-top: 1rem;
    position: relative;

    .container {

        .card-table{
            .table-body{
                td{
                    font-size: smaller;
                }
            }
        }




















        .card {
            border: none;
            box-shadow: 0px 4px 8px rgba( #000000,  0.30);
            .card-img-top {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                margin: 10px auto;
                box-shadow: 0px 4px 8px rgba( #000000,  0.14);
            }

            .card-body {
                h3{
                    opacity: 0.5;
                    margin: 1rem 0;
                }
            }

            .card-footer{

                a{
                    color: #fff;
                    background: #FC2947;
    
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}