<section class="footer">
    <div class="container">
        <div class="main-foot">
            <h3>MARKET.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequuntur itaque dolor a rerum sunt adipisci numquam tempora, sed reiciendis.</p>
            <div class="social">
                <li><i class='bx bxl-facebook icon-med'></i></li>
                <li><i class='bx bxl-youtube  icon-med'></i></li>
                <li><i class='bx bxl-google-plus icon-med'></i></li>
                <li><i class='bx bxl-twitter icon-med'></i></li>
                <li><i class='bx bxl-linkedin icon-med'></i></li>
            </div>
        </div>
        <div class="mine">
            <p>copyright &copy;2024 <a routerLink="/products">MARKET .</a></p>
        </div>
    </div>
</section>
