<section class="main-section">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="../../../assets/caro-one.jpg" class="d-block w-100" alt="...">
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item active">
                    <img src="../../../assets/elec-caro.jpg" class="d-block w-100" alt="...">
                    <p>big sale <span><br> offers</span></p>
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/caro-two.jpg" class="d-block w-100" alt="...">
                    <p>on your hand<br><span>50% off</span></p>
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item ">
                    <img src="../../../assets/caro-four.jpg" class="d-block w-100" alt="...">
                    <p>Special offers and<br><span>exclusive discounts</span></p>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-products></app-products>
